<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.eutechpro.smshelp"
    >
    
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application
        android:allowBackup="true"
        android:name=".SmsHelpApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        
        <activity
            android:name="home.HomeActivity"
            android:label="@string/home_activity_title"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleInstance"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".volunteer.BecomeVolunteerActivity"
            android:label="@string/become_volunteer_activity_title"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".volunteer.BecomeDonatorActivity"
            android:label="@string/become_donator_activity_title"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".volunteer.NeedHelpActivity"
            android:label="@string/need_help_activity_title"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".volunteer.AboutUsActivity"
            android:label="@string/about_us_activity_title"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".volunteer.FoundationFriendsActivity"
            android:label="@string/foundation_freinds_activity_title"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <receiver android:name=".scheduler.AlarmServiceReceiver"/>
    </application>
</manifest>